name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci_python_tests:
    runs-on: ubuntu-latest
    name: Run Python Tests
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: |
          pip install -r default/requirements.txt
      - name: Run Pytest
        run: |
          python -m pytest tests/ -v --tb=short
